.f {
    color: #121212;
    color: #2F2F2F;
    color: #636363;
    color: #636363;
    color: #8B8B8B;
    color: #B5B5B5;
}


@media (max-width: 300px) {
    .main__main div>section {
        width: 100%;
        margin: 3vh 0 ;
    }
    .main__main img {
        margin: 3vh 0;
        width: 100%;
    }
    .main__main .block{
        display: block;
width: 90%;
margin: 0 auto;
    }
    body  header{
        -webkit-transform: scaleY(2);
         -ms-ransform: scaleY(2); 
         transform: scaleY(2); 
    }
    body header nav ul{
        display: flex;
      }
   header nav ul{
      font-size: 7vw;   
      
    }
}
@media (min-width: 300px) and (max-width: 720px) {
    .main__main div>section {
        width: 100%;
        margin: 3vh 0 ;
    }
    .main__main img {
        margin: 3vh 0;
        width: 100%;
    }
    .main__main .block{
        display: block;
width: 90%;
margin: 0 auto;
    }
    body  header{
        -webkit-transform: scaleY(2);
         -ms-ransform: scaleY(2); 
         transform: scaleY(2); 
    }
    body header nav ul{
        display: flex;
      }
    header nav ul{
      font-size: 6vw;   
    }
}


@media (min-width: 720px) and (max-width: 1000px) {
    .main__main div>section {
        width: 100%;
        margin: 3vh 0 ;
    }
    .main__main img {
        margin: 3vh 0;
        width: 100%;
    }
    .main__main .block{
        display: block;
width: 90%;
margin: 0 auto;
    }
   header nav ul{
      font-size: 4vw;   
    }
    body:hover  header{
        -webkit-transform: scaleY(2);
         -ms-ransform: scaleY(2); 
         transform: scaleY(2); 
      }
      body:hover  header nav ul{
        display: flex;
      }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .main__main div>section {
        width: 50%;
    }
    .main__main img {
        width: 50%;
    }
    .main__main .block{
        display: flex;
    }
   header nav ul{
      font-size: 3vw;   
    }
    body:hover  header{
        -webkit-transform: scaleY(2);
         -ms-ransform: scaleY(2); 
         transform: scaleY(2); 
      }
      body:hover  header nav ul{
        display: flex;
      }
}

@media (min-width: 1200px) {
    .main__main div>section {
        width: 50%;
    }
    .main__main img {
        width: 50%;
    }
    .main__main .block{
        display: flex;
    }
   header nav ul{
      font-size: 2vw;   
    }
    body:hover  header{
        -webkit-transform: scaleY(2);
         -ms-ransform: scaleY(2); 
         transform: scaleY(2); 
      }
      body:hover  header nav ul{
        display: flex;
      }
}







#element__wrapper {
    width: 100vw;
    min-height: 100vh;
    max-height: inherit;
    animation: start 3s 1;
    position: absolute;
    animation-play-state: paused;
    z-index: -10;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    animation-timing-function: linear;
}

#element__wrapper section button {
    width: 100%;
    height: 10vh;
    margin: 15vh 0;
    animation: starttext 4s 1;
    font-size: 60px;
    color: #B5B5B5;
}

#element__wrapper section button:hover {
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

#element__wrapper > p {
    width: 100%;
    font-size: 15vw;
    color: white;
    position: absolute;
    text-align: center;
    animation: startrev 2s 1;
    animation-play-state: paused;
}

#element__wrapper section {
    opacity: 0;
    margin: 0 auto;
    font-size: 100px;
    color: white;
    animation: startrev 2s 1;
    animation-direction: reverse;
    animation-play-state: paused;
}

#element__wrapper section h1 {
    margin: 0 auto;
    font-size: 60%;
    color: white;
    animation: starttext 2s 1;
}

.site {
    background-color: white;
    width: 100vw;
    height: 100vh;
}

@keyframes start {
    from {
        background-color: #B5B5B5;
        opacity: 1;
        z-index: 10;
    }
    to {
        opacity: 0;
        z-index: -10;
    }
}

@keyframes startrev {
    from {
        opacity: 0;
        z-index: -10;
    }
    to {
        opacity: 1;
        z-index: 10;
    }
}

@keyframes starttext {
    from {
        opacity: 0;
        z-index: -10;
    }
    50% {
        opacity: 0;
        z-index: -10;
    }
    to {
        opacity: 1;
        z-index: 10;
    }
}


header{
   box-shadow:  0 .5rem .5rem rgba(0, 0, 0, .3);
   min-height: 1vh;
   background-color: #B5B5B5;
   /* height: 1vh; */
   transition: .5s;
z-index: 2;
}
header nav ul{
  display: none;
  color: white;
  /* font-size: 2vw; */
  justify-content: flex-end;
}
header nav ul li a{
   text-decoration: none;
   color: white;
  
 }
 header nav ul li a:active{
   color: #636363;
  
 }
header nav ul li {
  margin:10px  20px 0 20px;
 }
 header nav  {
   -webkit-transform: scaleY(0.5);
    -ms-ransform: scaleY(0.5); 
    transform: scaleY(0.5); 
  }
 header nav ul li:hover a {
   border-bottom: 2px solid #636363;
   
  }
body{
   font-family: 'Open Sans', sans-serif;
}

main{
   margin-top: 3vh;
  
   position: absolute;
width: 100%;
height: 100vh;
animation: startrevforsite 3s 1;
display: none;
}

#site__about{
margin-top: 3vh;

position: absolute;
display: none;
width: 100%;
height: 100vh;
animation: startrevforsite 3s 1;
}
#site__works{
   margin-top: 3vh;

position: absolute;
display: none;
width: 100%;
height: 100vh;
animation: startrevforsite 3s 1;
}
#site__contact{
   margin-top: 3vh;

position: absolute;
display: none;
width: 100%;
height: 100vh;
animation: startrevforsite 3s 1;

}
@keyframes startrevforsite {
   from {
       opacity: 0;
      
   }
   to {
       opacity: 1;
       
   }
}
/* .main__main .block{
    display: flex;
} */
.main__main img {
    filter: blur(10px);  
    box-shadow:  0 .5rem .5rem rgba(0, 0, 0, 0.822);
}
.main__main {
    margin-top: 3vh;
    /* animation: foto 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
    
}
.main__main section{
    text-align: center;
    margin:auto 3vw ;

}
.main__main h1{
    font-size: 5vw;
    border-bottom: 1px solid black;
    
}
.main__main div section>p{
    font-size: 3vw;
    margin-bottom:  2vh;
  
}
.main__main div section>q{
    font-size: 2vw;
    border-top: 1px solid black;
    margin-top:  2vh;
  
}

@keyframes foto {
    from{
        filter: blur(10px);
    }
    to{
        filter: blur(0);
    }
}


footer p{
 margin: 2vh 0;
 text-align: center;
}

footer{
    border-top: 1px solid black;
    height: 5vh;
    /* background-color: #8B8B8B; */
    margin-top: 3vh;
}
#site__about img{
position: absolute;
width: 100vw;
z-index: -1;
}
.about__main{
    width: 100vw;
    height: 100vh;
    background-size: 100% auto;
    background-image: url(../img/about__me.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    display: flex;
    flex-direction:column;
    justify-content:flex-end; 
}
.about__main section{
    /* padding-bottom: 200px; */
    font-size: 5vw;
  
}