#wrapper{
    
    width: 100vw;
    height: 100vh;
    animation: start 5s 1;
    position: absolute;
    animation-play-state: paused;
    z-index: -10;
    display: flex;
    justify-content: space-around;
    
    flex-direction:column;
    
}
button{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.wrapper1{
    background-color: wheat;
    width: 100vw;
    height: 100vh;
   z-index: 5;
}

@keyframes start {
    from{
        background-color: turquoise;
opacity: 1;
z-index: 10;
    }
    to{
opacity: 0;
z-index: -10;

    }
}